@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
.card {
    background-color: hsl(0, 0%, 100%);
    display: inline-block;
    max-width: 20rem;
    height: auto;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.304);
    margin-left: 30px;
    margin-top: 30px;
}

.whole {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 9%;
    width: 90%;
    padding: 5%;
}

body {
    min-height: 100vh;
    /* padding: 10vh; */
    /* margin: auto; */
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
}

main {
    align-items: center;
    justify-content: center;
    padding-left: 100px;
}

h1 {
    font-weight: 700;
    font-size: 1.4rem;
    margin: 0;
    padding: 0px 32px 0px 32px;
}

.scan {
    color: hsl(220, 15%, 55%);
    padding: 0px 1rem 1.2rem 1rem;
}

footer {
    color: hsl(220, 15%, 55%);
    font-size: 1rem;
    font-weight: 400;
    padding: 0px 1rem 1.2rem 1rem;
}

@media(min-width:500px) {
    body {
        padding: 10vh;
    }
}

@media(max-width:500px) {
    .card {
        width: 100%;
        /* margin: auto; */
    }
    .whole {
        display: grid;
    }
    body {
        padding: none;
    }
}

.inline {
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    font-family: 'Outfit', sans-serif;
}
